.ui.button.done {
    margin-left: 173px;
}

.ui.button.here {
    margin-left: 100px;
    /* background-color: #b20000; */
}
.ui.button.cancel {
    margin-left: 80px;
    /* border-color: gray; */
    color: gray;
}

.ui.modal.confirmModal {
    width: 450px !important;
    background-color: transparent !important;
}

.dimmer { background-color: transparent ; }