/* .EditProfile-container {
	text-align: center;
}

.page-title {
	padding-top: 2%;
	text-align: center;
}

.form {
	display: flex;
	justify-content: center;
} */

.Form-container {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.form {
	width: 100%;
}
