.Feed-container {
	padding-top: 2%;
	margin: 0 auto;
	width: 90%;
	display:flex;
	flex-direction:row;
}

.Cards-container {
	/* padding-top: 2%; */
	margin: 0 auto;
	padding-left: 3%;
	justify-content: left;
}
.center-group {
	margin: 0 auto;
}
.button {
	text-align: center;
	padding-left: 20%;
}

.content {
	text-align: left;
}

.card-description {
	padding-bottom: 3%;
}

.card-container {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}

.menu {
	text-align: left;
}

.user-input {
	padding-left: 3%;
	padding-bottom: 2%;
	flex-direction: column;
}
#dropdown-menu {
	margin: 2%;
	flex-direction: column;
}

.Side-menu {
	text-align: left;
	padding-left: 10%;
	padding-bottom: 10%
}

.switch-feed {
	padding: 1%;
	justify-content: center;
	text-align: center;
}

.filters-applied {
	padding-bottom: 1%;
}

/* .filter-tags {
	margin-bottom: 1%;
} */

/* * {
	margin: 1%;
} */

.ui.buttons .button {
	width: 110px;
}

.team-info {
	padding: 3%;
}

.team-info-container {
	padding-top: 2%;
	margin: 0 auto;
	width: 90%;
	display:flex;
	flex-direction:row;
}

.team-card-container {
	flex: 1;
    padding-right: 2%;
}

.ui.centered.cards {
    justify-content: left;
}

.ui.card > .content, .ui.cards > .card > .content {
	padding-bottom: 0%;
}