.Feed-container {
	padding-top: 2%;
	width: 60%;
	margin: 0 auto;
}

.Cards-container {
	padding-top: 2%;
	margin: 0 auto;
}
.center-group {
	margin: 0 auto;
}
.button {
	text-align: center;
	padding-left: 20%;
}

.content {
	text-align: left;
}

.card-description {
	padding-bottom: 3%;
}

.card-container {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}

.menu {
	text-align: center;
}
