.headers {
  padding-top: 5%;
}

.notification-pane {
  min-width: 800% !important;
}

.ui.popup.fitted {
  padding: 0px;
}
.ui.popup.fitted > .ui.menu {
  border: none;
}
.ui.menu.scrolling {
  max-height: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  font-family: Quicksand-Bold;
  src: url("./fonts/quicksand/Quicksand-Bold.ttf");
}

@media (min-width: 915px) {
  .hamburger-icon{
    display: none;
  }
}