.Login-container {
	padding-top: 3%;
	text-align: center;
}

.input {
	padding-bottom: 1%;
}

.sign-up {
	padding-top: 2%;
}

.next-container {
	padding-top: 1%;
}

.error-message {
	padding-top: 1%;
}

.input-box {
	padding-left: 1%;
	padding-right: 1%;
}
