.h3 {
  text-align: left;
  color: white;
  font-size: 20px;
  font-family: Quicksand-Bold;
}

@font-face {
  font-family: Lekton-Regular;
  src: url("./fonts/lekton/Lekton-Regular.ttf");
}

@font-face {
  font-family: Lekton-Bold;
  src: url("./fonts/lekton/Lekton-Bold.ttf");
}

@font-face {
  font-family: Quicksand-Bold;
  src: url("./fonts/quicksand/Quicksand-Bold.ttf");
}

.moveimage {
  transform: translate(-40px, 10px);
}
