.h3 {
  text-align: left;
  color: white;
  font-size: 20px;
  font-family: Quicksand-Bold;
}

@font-face {
  font-family: Lekton-Regular;
  src: url("./fonts/lekton/Lekton-Regular.ttf");
}

@font-face {
  font-family: Lekton-Bold;
  src: url("./fonts/lekton/Lekton-Bold.ttf");
}

@font-face {
  font-family: Quicksand-Bold;
  src: url("./fonts/quicksand/Quicksand-Bold.ttf");
}

.ui.input.focus > input {
  border-color: transparent;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 12px;
  font-size: 15px;
}

.ui.input {
    text-indent: 5px;
}

.ui.icon.input > i.icon:after,
.ui.icon.input > i.icon:before {
  color: white;
}

.ui.input > input,
.ui.input > input::selection {
  color: white !important;
  font-family: Quicksand-Bold;
}

.ui.input > input::placeholder {
  color: white !important;
  font-family: Quicksand-Bold;
}

.moveImage {
  position: absolute;
  margin-top: 3%;
  right: 80%;
}

.ui.selection.dropdown {
  background: rgba(255, 255, 255, 0.22);
  color: white;
  font-family: Quicksand-Bold;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
}

.SideMenu-container {
    height: 100%;
}

.filter-box {
    height: 2%;
    text-indent: 5px;
}
