.h3 {
    text-align: center;
    font-size: 0.9em;
    color: #f2da80;
    font-weight: 900;
    padding-top: 15%;
    padding-bottom: 2%;
    margin: 0;
}

.ui.small.input {
    font-size: 1em;
    width: 98%;
}

.ui.search.dropdown > input.search { 
	left: 0px;
	background: #f3f0fa;
}

input {
	background-color: #f3f0fa;
}