@font-face {
  font-family: Lekton-Bold;
  src: url("./fonts/lekton/Lekton-Bold.ttf");
}

.first-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: flex-start;
}

.ui.button.ask-to-join {
  font-family: Quicksand-Bold;
  background: rgba(255, 255, 255, 0.22);
	color: white;
}

.ui.button.leaveTeam {
  font-family: Quicksand-Bold;
  background: rgba(255, 255, 255, 0.22);
	color: white;
}

.no-team-heading {
  color: white;
  font-family: Quicksand-Bold;
}

.noTeam-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.team-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.first-col {
  width: 40%;
}

.second-col {
  width: 50%;
}

#header {
  display: inline-block;
  width: 300px;
}

#field {
  width: 100%;
  background: transparent;
  border: none;
  font-family: Lekton-Bold;
  text-align: center;
}

#alert {
  padding: 1px;
}

.ui.input > input {
  padding: 0;
  background: #656cae;
}
