.card-content {
  padding-bottom: 10%;
}

.card-header {
  font-size: 10px;
  padding-top: 4%;
  text-align: center;
  padding-bottom: 4%;
}

.ui.card:after, .ui.cards:after {
    height: 40px;
}

.form {
  padding-bottom: 2%;
}

.ui.form textarea {
  min-height: 150px;
  border: 3px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(128, 94, 159, 0.6) 0%,
    rgba(113, 188, 226, 0.6) 100%
  );
  border-image-slice: 1;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field :disabled {
  opacity: 1;
}

.ui.form textarea {
  color: gray;
}

.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
  opacity: 1;
}

.ui.fluid.dropdown {
  border: 3px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(128, 94, 159, 0.6) 0%,
    rgba(113, 188, 226, 0.6) 100%
  );
  border-image-slice: 1;
}

.ui.form .field > .selection.dropdown {
  opacity: 1;
}

.ui.selection.dropdown {
  text-align: left;
}

.ui.label.labelStyle {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px;
  font-family: Quicksand-Bold;
  font-size: 100%;
  margin-top: 5px;
}
