.UserCard-container {
	padding-top: 2%;
	width: 100%
}

.button {
	text-align: center;
	padding-left: 20%;
}

.content {
	text-align: left;
}

.card-description {
	padding-bottom: 3%;
}

.card-container {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}

.contact-button {
	width: 100%;
}

body .ui.card, body .ui.cards>.card{
	box-shadow: 0 0 15px 0 #e4e4e4;
    border-radius: 7%;
    transition: transform .2s;
}

body .ui.card:hover {
	transform: scale(1.05);
}
